/*YALLAABOUT*/
/*=== ===*/
/*=== ===*/
/*=== ===*/

* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    background: #5557586b; 
    margin: 0;
    padding: 0;
    padding: 20px;
}

main {
    overflow: auto;
    margin-top: 0px;
    /* The image used */
    background-image: linear-gradient(#F6379E,rgba(0,123,255,.5)), url(bidet-bg.jpg);
    background-color: #ffffff;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body { 

}

imgtext {
    /*text-shadow: 3px 2px #DAA520;*/
}

.bg {
    opacity:0.5;

}

p {
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px* color: #919191;
    z-index: 1;

}

h1 {
    font-weight: 1000;

}

.title {

}

.uppercase {

    text-transform: uppercase;
}

h2 {
    text-align: center;
}

.main-list li {

}


.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px)
}


footer {
    text-align: center;
    background-color: #60B0AF;
}

logo {
    margin: auto;
    padding-top: 30px; 
    border-bottom:80px solid #f6379e;
    border-width:0px 0px 30px 0px;
    border-style:solid solid solid solid;
    border-color:#000000 #000000 #f6379e #000000;
    padding-bottom: 35px;
    box-shadow: 10px 10px #60B0AF;

}

@media screen and (min-width: 1000px) {
  .container {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: initial;
  }
}

@media screen and (max-width: 350px) {
  main {
    height: auto;
    padding: 60px 10px;
  }
}