/*YALLASTYLING*/
/*=== ===*/
/*=== ===*/
/*=== ===*/

/* nav {
    float: right;
    display: block;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1.2;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
*/

* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    background: #5557586b; 
    margin: 0;
    padding: 0;
    padding: 20px;
}

main {
    overflow: auto;
    margin-top: 0px;
    /* The image used */
    background-image: linear-gradient(#818182,rgba(0,123,255,.5)), url(bidet-bg.jpg);
    background-color: #ffffff;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body { 

}

imgtext {
    /*text-shadow: 3px 2px #DAA520;*/
}

.bg {
    opacity:0.5;

}

p {
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px* color: #919191;
    z-index: 1;

}

h1 {
    font-weight: 1000;

}

.title {

}

.uppercase {

    text-transform: uppercase;
}

h2 {
    text-align: center;
}

.main-list li {

}

footer {
    text-align: center;
    background-color: #60B0AF;
}

logo {
    margin: auto;
    padding-top: 30px; 
    border-bottom:80px solid #f6379e;
    border-width:0px 0px 30px 0px;
    border-style:solid solid solid solid;
    border-color:#000000 #000000 #f6379e #000000;
    padding-bottom: 35px;
    box-shadow: 10px 10px #60B0AF;

}
